/* background image */
body {
    background-image: url("../images/marblebackground.jpg");
    background-repeat: no-repeat;
    background-attatchment: fixed;
}

/* navigation menu */
nav {
    overfow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

nav a:hover{
    background-color: blue;
}

/* style name */
.nav h1 {
    float: left;
    color: white;
    font-size: 1.3em;
    background-color: #4aaaa5;
}

article {
    padding-top: 70px;
    text-align: center;
}

/* different widths for sections */
.about{
    max-width: 80%;
    }

.contact, .portfolio{
    max-width: 50%;
}

/* combine styles for sections */
.about, .contact, .portfolio{
    display: inline-block;
    margin: 20px 20px 20px 20px;
    border: 1px solid black;
    padding: 20px 20px 20px 20px;
    background-color: white;
}

/* add underline under div title */
.about h1, .contact h1, .portfolio h1{
    border-bottom: 3px solid rgb(199, 198, 198);
}

/* style section titles */
div h1 {
    text-align: left;
    font-size: 2em;
    color: #4aaaa5;
}

/* style nav links */
a + a {
    border-right: 2px solid rgb(199, 198, 198);
}