body {
    background-image: url("../images/marblebackground.jpg");
    background-repeat: no-repeat;
    background-attatchment: fixed;
}

nav {
    overfow: hidden;
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

nav a:hover{
    background-color: blue;
}

nav h1 {
    float: left;
    display: block;
    font-size: 1.0em;
}

article {
    padding-top: 70px;
}